body {
    background-color: whitesmoke;
    margin: auto;
    font-family: arial;
}

header {
    background-color: black;
}

header::after{
    content: '';
    clear: both;
    display: table;
}


.nav_bar{
    width: 85%;
    margin: auto;
    color: white;
    font-size: 30px;
    float: left;
    

}

.image{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
}

nav{
    float: right;
    text-transform:uppercase;
    font-size: 18px;
    text-decoration: white;

    
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: white;
    
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    color: white
   
}

nav li{
    margin-left: 10px;
    display: inline-block;
    padding: 25px;
}

.Home{
    padding-left: 60px;
    padding-right:60px;
    padding-bottom: 60px;
    font-family: Arial;
    position: relative;
    z-index: 2;

}
    

.Menu{
    padding-left: 60px;
    padding-bottom: 60px;
    font-family: Arial;
    
}

.Menu h1{
    font-size: 40px;
    text-align: center;
}

.Menu h3{
    font-family: Risotto Script;
    font-size: 20px;
}

.reservations{
     margin-left: 30px;
     margin-bottom: 60px;
}

.contact{
    padding-left: 30px;
    padding-bottom: 60px;
    font-family: Arial;
}

.contact h1{
    font-size: 35px;
}

.footer {
    font-size: 15px;
    text-align: center;
    padding-bottom: 70px;
    position: relative;
    z-index: 2;
    color: black;
}